{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="bg-light py-5">
    <div class="container d-flex justify-content-center">
        {% if request.session.theme == 'dark' %}
            <div class="bg-black p-5 rounded shadow" style="max-width: 500px; width: 100%;">
        {% else %}
            <div class="bg-white p-5 rounded shadow" style="max-width: 500px; width: 100%;">
        {% endif %}
            <p>Your password has been changed!</p>
        </div>
    </div>
</div>
{% endblock content %}   