{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="bg-light py-5">
    <div class="container d-flex justify-content-center">
        {% if request.session.theme == 'dark' %}
            <div class="bg-black p-5 rounded shadow" style="max-width: 500px; width: 100%;">
        {% else %}
            <div class="bg-white p-5 rounded shadow" style="max-width: 500px; width: 100%;">
        {% endif %}
            <p>Reset your password. To do that follow next instructions:</p>
            {% if validlink %}
                <form action="." method="post">
                    {{form | crispy}}
                    {%csrf_token%}
                    <input type="submit" value="Set Password" class="btn btn-primary w-100">  
                </form>
            {%else%}
                <p>There is a problem. This link was used before and it's invalid. Please request new password reset!</p>
            {%endif%}
        </div>
    </div>
</div>
{% endblock content %}