{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<title>Change password</title>
<div class="bg-light py-5">
    <div class="container d-flex justify-content-center">
        {% if request.session.theme == 'dark' %}
            <div class="bg-black p-5 rounded shadow" style="max-width: 500px; width: 100%;">
        {% else %}
            <div class="bg-white p-5 rounded shadow" style="max-width: 500px; width: 100%;">
        {% endif %}
    
            <h2>Use fileds below to change your password</h2>
            <form action="." method="post">
                {{form | crispy}}
                {%csrf_token%}
                <p><input type="submit" value="Change" class="btn btn-primary w-100"></p>
            </form>
        </div>  
    </div>  
</div>
{% endblock content %}