{% extends "base.html" %}

{% block content %}
<div class="container py-5 mb-5 d-flex justify-content-center">
    <div class="w-100" style="max-width: 700px;">
        <div class="w-100 py-5 d-flex flex-column align-items-center" >
            <h3 class="mb-4 text-center">GitHub</h3>
            <a href="https://github.com/pertsezhuisky/django_blog">
                <img src="/media/website_media/github_logo.png" alt="github_logo" class="img-thumbnail" style="width: 92px;">
            </a>
            </div>
        </div>
        <h4>Send your feedback on github or using email: official-blogly@yandex.com</h4>
    </div>
</div>

{% endblock content %}