asgiref==3.8.1
attrs==25.1.0
beautifulsoup4==4.13.4
click==8.1.8
colorama==0.4.6
crispy-bootstrap5==2025.4
dj-pagination==2.5.0
Django==4.2.20
django-bootstrap-v5==1.0.11
django-ckeditor-5==0.2.18
django-crispy-forms==2.4
django-filter==25.1
django-js-asset==3.1.2
pillow==11.2.1
python-dotenv==1.0.1
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
tzdata==2025.1
whitenoise==6.9.0
