<header>
    <nav class="navbar navbar-expand-lg bg-primary px-4" data-bs-theme="light">
      <div class="d-flex w-100 align-items-center">
        <div class="content_bar d-flex gap-3">
          <a class="navbar-brand text-black" href="{% url 'items_list' %}">Feed</a>
          <a class="navbar-brand text-black" href="{% url 'profile' %}">Account</a>
        </div>
        <div class="ms-auto d-flex align-items-center gap-3">
        <form action="{% url 'switch_theme' %}" method="post" class="m-0">
          {% csrf_token %}
          <button type="submit" class="btn btn-dark">
          {% if request.session.theme == 'dark' %}🔆{% else %}🌙{% endif %}
          </button>
        </form> 
          {% if request.user.is_authenticated %}
            <span class="text-black">
              <img src="{{ request.user.avatar.url }}" class="rounded-circle" style="width: 48px; height: 48px; object-fit: cover; margin-bottom: 0;">
              {{ request.user }}
            </span>
            <form action="{% url 'logout' %}" method="post" class="m-0">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-light btn-sm">Log out</button>
            </form>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-light btn-sm">Log in</a>
            <a href="{% url 'sign_up' %}" class="btn btn-light btn-sm">Sign up</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>
  